:root {
	/** Theme palette colors: darkslategray, teal, lightseagreen, mediumturquoise, lemonchiffon */
	/** Main palette */
	--primary-color: darkslategray;
	--on-primary-color: white;
	--primary-color-darker: hsl(180, 25%, 20%);
	--primary-color-lighter: hsl(180, 25%, 30%);
	--secondary-color: mediumturquoise;
	--on-secondary-color: black;
	--background-color: lemonchiffon;
	--background-color-light: lemonchiffon;
	--background-color-light-lighter: hsl(54, 100%, 94%);
	--background-color-dark: teal;
	--background-color-dark-darker: hsl(180, 100%, 15%);
	--accent-color: teal;
	--on-accent-color: white;
	--card-bg-stop-light: white;
	--card-bg-stop-dark: #d2ebeb;
	--card-bg: linear-gradient(180deg, var(--card-bg-stop-light), var(--card-bg-stop-dark));
	/** Halfmoon resets */
	--base-font-size: unset;
	--base-html-font-size: unset;
	--base-html-font-size-1600: unset;
	/** Halfmoon tweaks */
	--lm-card-bg-color: var(--background-color);
	--lm-card-bg-image: var(--card-bg);
	--lm-alert-filled-primary-bg-image: linear-gradient(var(--background-color-dark), var(--background-color-dark-darker));
	--content-and-card-spacing-xs: 1rem;
	/** Util vars */
	--border-light: var(--card-border-width) solid var(--lm-card-border-color);
}

/** Halfmoon body resets */
body {
	height: unset;
}

.row {
	width: 100%;
}

html,body {
	background: linear-gradient(#0C304F, #333C47);
}

.card-slim {
	--content-and-card-spacing: 8px;
}

.justify-evenly {
	justify-content: space-evenly;
}

.flex-center-children {
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-placeholder='true'] .placeholder-blur {
	filter: blur(0.2rem);
}

.placeholder-line {
	height: 1.2rem;
	border: 1px solid var(--primary-color-darker);
	background-color: var(--primary-color);
	border-radius: 0.2rem;
}

.border-light {
	border: var(--border-light);
	border-radius: 4px;
}
