:root {
	/** Theme palette colors: darkslategray, teal, lightseagreen, mediumturquoise, lemonchiffon */
	/** Main palette */
	--primary-color: darkslategray;
	--on-primary-color: white;
	--primary-color-darker: hsl(180, 25%, 20%);
	--secondary-color: mediumturquoise;
	--on-secondary-color: black;
	--background-color: lemonchiffon;
	--background-color-light: lemonchiffon;
	--background-color-dark: teal;
	--accent-color: teal;
	--on-accent-color: white;
	/** Halfmoon resets */
	--base-font-size: unset;
	--base-html-font-size: unset;
	--base-html-font-size-1600: unset;
	/** Halfmoon tweaks */
	--lm-card-bg-color: var(--background-color);
	--content-and-card-spacing-xs: 1rem;
	/** Util vars */
	--border-light: var(--card-border-width) solid var(--lm-card-border-color);
}

.row {
	width: 100%;
}

html,body {
	background-color: var(--background-color-dark);
}

.card-slim {
	--content-and-card-spacing: 8px;
}

.justify-evenly {
	justify-content: space-evenly;
}

.flex-center-children {
	display: flex;
	justify-content: center;
	align-items: center;
}

.placeholder-line {
	height: 1.2rem;
	border: 1px solid var(--primary-color-darker);
	background-color: var(--primary-color);
	border-radius: 0.2rem;
}

.border-light {
	border: var(--border-light);
	border-radius: 4px;
}
